<% include ../partials/head %>

	<% include ../partials/header %>
  <div id="content">
  <div class="topnav" id="myTopnav">
    <a href="index.html">Home</a>
  <a href="asif.html">Asif</a>
  <a href="laila.html">Laila</a>
  <a href="ahil.html">Ahil</a>
  <a href="ruhee.html">Ruhee</a>
  <a class="selected" href="grandparents.html">Grandparents</a>
  <a href="vacation.html">Vacation</a>
  <a id= "contactus" href="contactUs.html">Contact Us</a>
  
  
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
		<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
<h1>Asif's Parents</h1>
<img src= "images/asifparent.jpg" alt = " Asif Parents">
<p> </p>
<h1>Laila's Parents</h1>
<img src= "images/lailaparent.jpg" alt = "Laila Parents">
<p> </p>


<% include ../partials/footer %>